[submodule "tests/catch"]
	path = tests/catch
	url = https://github.com/philsquared/Catch/
[submodule "shader-preprocessor"]
	path = shader-preprocessor
	url = https://github.com/horazont/shader-preprocessor
	branch = devel
[submodule "sig11"]
	path = sig11
	url = https://github.com/horazont/sig11
	branch = develop
