[submodule "tests/catch"]
	path = tests/catch
	url = https://github.com/philsquared/Catch/
[submodule "surface_mesh"]
	path = surface_mesh
	url = ssh://git.sotecware.net/surface_mesh
[submodule "shader-preprocessor"]
	path = shader-preprocessor
	url = ssh://git.sotecware.net/shader-preprocessor
	branch = devel
